.form-input {
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #2F2F2F;
}

.form-input_invalid {
  color: #EE3465;
  box-shadow: 0 0 7px #EE3465;
}

.form-input:focus {
  box-shadow: 0 0 7px white;
}
